

.box {
    width: 170vh;
    height: 100%;
    margin-top: 50px;
    padding: 30px;
    background-color: rgb(197, 197, 197);
    margin-left: 30px;
    border-radius: 10px;
}

form button {
    margin-top: 10px;
    background-color:white ;
    color: #314055;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;    
    transition: box-shadow 0.5s ease, transform 0.3s ease;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    width: 80px;
}
    

form button:hover {
    transform: scale(1.02);
    transition: 1s;
}

form button:not(:hover){
  transition: 0.7s;
}


form button:active {
  transform: scale(0.90);
  transition: 0.2s;
}

form {
    font-family: "Josefin Sans", sans-serif;
}