
.box {
    width: 400px;
    height: 130px;
    border-radius: 5px;
    padding-left: 20px;
    color: white;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}


.box h1 {
    font-size: 20px;
}

#box1 {
    background-image: linear-gradient(to right, #4a7a5b,  #609e76);
}

#box2 {
    background-image: linear-gradient(to right, #bb6767,  #F08484);
}

#box3 { 
    background-image: linear-gradient(to right, #4b6180,  #587296) ;
}

.boxes2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#box4 {
    height: 350px;
    width: 300px;
    background-color: #4b6180;
    margin-top: 90px;
}

#box5 {
    height: 350px;
    width: 300px;
    background-color: #4b6180;

}

.grafico {
    width: 1320px;
    height: 600px;
    background-color: rgb(221, 220, 220);
}






