.headertopo button {
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 5px;
    height: 40px;
    margin-right: 10px;
    background: none;
    color: #314055;
    font-size: 15px;
}


.headerbaixo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.headertopo button:hover {
    transform: scale(0.87);
    transition: 1s;
}

.headertopo button:not(:hover){
  transition: 0.7s;
}


.headertopo button:active {
  transform: scale(0.10);
  transition: 0.6s;
}


/* botões header */


.botoes {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-bottom: 200px;
}


.botao1 {
  margin-left: 30px;
  margin-bottom: auto;
  background-color:#36465D;
  border-radius: 30px;
  border: none;
  width: 17%;
  height: 80%;
  text-decoration: none;
  text-align: center;
}

.botao1 h2{
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-top: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} 


.botao1:hover {
    transform: scale(1.05);
    transition: 1s;
}

.botao1:not(:hover){
  transition: 0.7s;
}


.botao1:active {
  transform: scale(0.90);
  transition: 0.2s;
}

.botao2 {
  margin-left: 30px;
  margin-bottom: auto;
  border-radius: 30px;
  border: solid 2px;
  border-color: #36465D;
  width: 17%;
  height: 80%;
  text-decoration: none;
  text-align: center;
}

.botao2 h2{
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-top: 10px;
  color: #36465D;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} 

.botao2:hover {
    transform: scale(1.05);
    transition: 1s;
}

.botao2:not(:hover){
  transition: 0.7s;
}


.botao2:active {
  transform: scale(0.90);
  transition: 0.2s;
}

/* botão inicial */


.botao button{
  background-color:#314055 ;
  color: white;
  padding: 15px 30px;
  font-size: 70px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.botao:hover {
  filter: drop-shadow( 0 0 30px rgba(255, 255, 255, 0.4));
  transform: scale(1.03);
  transition: 1s;
}

.botao:not(:hover){
  transition: 0.7s;
}


.botao:active {
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  transform: scale(0.90);
  transition: 0.2s;
  filter: drop-shadow(0 0 30px black);
}

/* botão quiz */



.box1 {
    width: 400px;
    height: 500px;
    background-color: #36465D;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 8px 15px 50px 0px rgba(0,0,0,0.03); 
    box-shadow: 0px 10px 13px -7px #000000, 8px 15px 50px 0px rgba(0,0,0,0.03);

}

.part1 h1 {
  font-size: 70px;
}


.paragrafo {
  width: 800px;
}

/* Parte da primeira section part1 */