
.container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
}


nav {
    position: fixed;      
    height: 100vh;        
    width: 5vw;          
    background: #36465D;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

nav img {
    width: 70px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

button {
    background: none;
    border: none;
}

.home, .financeiro, .calendario, .planejamento {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36465D;
    cursor: pointer;
    overflow: visible; /* permite sair da div */
}


.home h1, .financeiro h1, .calendario h1, .planejamento h1{
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    left: 70px; 
    opacity: 0;
    transition: all 0.3s ease;
}

.home:hover h1, .financeiro:hover h1, .calendario:hover h1, .planejamento:hover h1{
    opacity: 1;
    background-color: #36465D;
    border-radius: 10px;
    height: 50PX;
}


.icones {
    list-style: none; 
    padding: 10px 0;
}

.icones li {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* em telas menores, vira coluna */
  }
}